@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

pre.torchlight *,
code.torchlight * {
	font-family: 'Fira Mono', Menlo, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
	font-size: 16px;
}

pre.torchlight .line-number,
pre.torchlight .summary-caret {
	margin-right: 1rem;
}
